{% load static %}
<div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0">
      <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center" style="height: 45px">
          <small class="me-3 text-light"
            ><i class="fa fa-map-marker-alt me-2"></i>1 kudeti street, off Adeniyi Jones. Ikeja, Lagos</small
          >
          <small class="me-3 text-light"
            ><i class="fa fa-phone-alt me-2"></i>+234814598</small
          >
          <small class="text-light"
            ><i class="fa fa-envelope-open me-2"></i
            >callme@declutternigeria.com</small
          >
        </div>
      </div>
      <div class="col-lg-4 text-center text-lg-end">
        <div class="d-inline-flex align-items-center" style="height: 45px">
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""
            ><i class="fab fa-twitter fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""
            ><i class="fab fa-facebook-f fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""
            ><i class="fab fa-linkedin-in fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href=""
            ><i class="fab fa-instagram fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
            href=""
            ><i class="fab fa-youtube fw-normal"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Topbar End -->
  
  <!-- Navbar & Hero Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
      <a
        href="/"
        class="navbar-brand p-0 d-flex justify-content-center align-items-center"
      >
        <!-- <h1 class="text-primary m-0">
          <i class="fa fa-map-marker-alt me-3"></i>The Clutter
        </h1> -->
        <img src="{% static 'img/shopping-bag.png' %}" alt="Logo" />
        <h1 class="text-primary m-0">DeclutterNow</h1>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <a href="#" class="nav-item nav-link active">Home</a>
          <a href="#" class="nav-item nav-link">About</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
              >Categories</a
            >
            <div class="dropdown-menu m-0">
              {% for category in categories %}
              <a href="{% url 'store:category' category.id %}" class="dropdown-item"
                >{{ category.name|title }}</a
              >
              {% endfor %}

            </div>
          </div>
          <a href="#" class="nav-item nav-link">Contact</a>
          <!-- Add the shopping cart item -->
        <a href="{% url 'cart:cart' %}" class="d-flex">
          <button class="btn btn-primary py-2 px-4" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
          </button>
        </a>
        </div>
        <a href="#" class="btn btn-primary rounded-pill py-2 px-4">Register</a>
      </div>
    </nav>